* {

	text-align: center;
	font-family:  "Moon", Arial, sans serif;
	font-weight: normal;

}

h1, h2, #wordTheme, #solveButton, #newGameButton, .listWord {

	padding: 5px;

}

h1, h2, #wordTheme, #solveButton, #newGameButton {

	border: 2px black solid;
	border-radius: 8px;

} 

h1, h2, .cell, #wordTheme, #wordlist {

	background-color: white;

}

h1, h2 {

	margin: 10px auto 10px auto;
	display: table;

}

body {

	background-image: url(../theforense.png);
	background-repeat: no-repeat;
	background-size: cover ;
	background-position: center;
	background-color: #EAF7FB;

}

#wordTheme {

	border-radius: 8px;

}

#wordboard {

	margin: 20px auto 0 auto;
	border: 2px black solid;
	display: table;
	min-width: 600px;

}

.boardRow {

	display: table-row;

}

.cell {

	margin: 0 auto;
	border: none;
	display: table-cell;
	height:30px;
	width: 30px;
	font-size: 17px;
	padding: 0;
	outline: 0;



}

.cell:hover {

	background-color: rgb(154, 154, 170);

}

.cell.selectable {

	background-color: rgb(206, 206, 234);

}

.cell.selected { 

	background-color: rgb(98, 157, 245);

}

.cell.found {

	background-color: rgb(102, 231, 177);
	border: 1px black solid;
	font-weight: bold;

}

#wordlist { 

	margin: 40px auto 0 auto;
	border: 2px black solid;
	display: table;
	min-width: 600px;
	font-size: 17px;
	text-align: center;
	
}

.listRow {

	display: table-row;

}

.listWord {

	display: table-cell;
	
}

.listWord.found {

	color: rgb(0, 46, 252);
	text-decoration: line-through;
	
}

#solveButton, #newGameButton {

	background-color: rgb(199, 226, 201);
	margin: 20px auto 20px auto;
	display: block;
	outline: 0;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;

}

@font-face {

	font-family: "Moon";
	src: url("../fonts/Moon-Regular.woff2") format("woff2"),
		 url("../fonts/Moon-Regular.woff") format("woff");
	font-weight: normal;

}

@font-face {

	font-family: "Moon";
	src: url("../fonts/Moon-Bold.woff2") format("woff2"),
		 url("../fonts/Moon-Bold.woff") format("woff");
	font-weight: bold;

}